<a href="https://colab.research.google.com/github/SimonBIgnacio/primeros_codigos/blob/main/Clase1(hipoteca).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Colab Setup

Simon Burgos

In [ ]:
p= (400000)
r = (0.03/12)
r2= (6/12) 
n = (30*12)

n1 = r*(1+r)**n
n2 = ((1+r)**n)-1

pago_mensual = (n1/n2)*p
# print(pago_mensual)

n3 = r2*(1+r2)**n
n4 = ((1+r2)**n)-1

págo_mensual2 = (n3/n4)*p
# print(págo_mensual2)

1686.4161349178237

In [ ]:
my_num = 8
if my_num % 2 == 0:
    print("Your number is even")
elif my_num % 2 != 0:
    print("Your number is odd")
else: 
    print("Are you sure your number is an integer?")

Your number is even

In [ ]:
z = [4, 1, 5, 4, 10, 4]
z.insert(3,[2,4])
# print(z)

[4, 1, 5, [2, 4], 4, 10, 4]

In [ ]:
import pandas as pd
filename = '/content/bostonHousing1978.csv'
df = pd.read_csv(filename)
df.head()

      RM  LSTAT  PTRATIO  target
0  6.575   4.98     15.3    24.0
1  6.421   9.14     17.8    21.6
2  7.185   4.03     17.8    34.7
3  6.998   2.94     18.7    33.4
4  7.147   5.33     18.7    36.2

In [ ]:
filename = '/content/RailsToTrails_National Count Data_week.xlsx'
df_bike = pd.read_excel(filename)
df_bike.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627,NaN,NaN,NaN
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253,NaN,NaN,NaN
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169,NaN,NaN,NaN
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504,NaN,NaN,NaN
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602,NaN,NaN,NaN

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/mGalarnyk/Tutorial_Data/master/Pandas/CalIt2.data', header = None)
df.head()

   0         1         2  3
0  7  07/24/05  00:00:00  0
1  9  07/24/05  00:00:00  0
2  7  07/24/05  00:30:00  1
3  9  07/24/05  00:30:00  0
4  7  07/24/05  01:00:00  0